html{
	height:100%;
}
body{
	font: 15px/1.5 arial,helvetica, sans-serif;
	padding:0;
	margin:0;
	background-color: #f4f4f4;
	display: flex;
	flex-direction: column;
	min-height:100%;
}
.page-title{
	font-size: 1.8em;
}
.container{
	width:80%;
	margin: 0 auto;
	overflow: hidden;
	display: flex;
	justify-content: center;
}

header ul{
	margin:0;
	padding:0;
}
.dark{
	padding:15px;
	background:#35424a;
	color:#ffffff;
	margin-bottom:10px;
	margin-bottom:10px;
}
.table{
  border-collapse: collapse;
  width: 100%;
  margin: auto;
  margin-top: 35px;
  
}
table.specific{
	margin-top:175px;
}
.table th{
	background:#354a38;
	width:100%;
}
.table th,.table td{
	border:1px solid #dddddd;
	text-align: left;
	padding: 10px;
}
.table tr{
	background: #dddddd;
	padding-right: 45px;
	padding-left: 30px;
}
.table a{
	color: #008000;;
	text-decoration:none;
	font-size:16px;
	margin-left: 10px;
	/* background:#e8491d; */
}
.table a:hover{
	color:#008000;
	/* font-weight: bold; */
}


.button-class {
	display: inline-block;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 2px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background-color: #008000;
    border: 1px solid #008000;
    color: #fff;
    margin-top: 30px;
    margin-right: 15px;
    margin-bottom: 15px;
    letter-spacing: 3px;
}
.btn {
	display: inline-block;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 2px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background-color: #008000;
    border: 1px solid #008000;
    color: #fff;
    margin-top: 0px;
    margin-right: 3px;
    margin-bottom: 3px;
	letter-spacing: 3px;
		
}
.btn a:hover {
	cursor: pointer;
	background: #008000;
	color: #ecf7ec;

}
.btn1 {
	display: inline-block;
    padding: 10px 40px;
    text-decoration: none;
    border-radius: 2px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
    background-color: #008000;
    border: 1px solid #008000;
    margin-top: 2px;
    margin-right: 5px;
    margin-bottom: 5px;
    letter-spacing: 3px;
}
.formbox{
	width: 320px;
	background:#35424a;
	color: #fff;
	margin: auto;
	margin:50px 0px  ;
	padding:50px;
}

h1{
	margin: 0;
	padding: 0 0 20px;
    text-align: center;
	font-size: 22px;
	}
label{
	margin: 0;
	padding: 0;
	font-weight: bold;
}
.formbox input{
	width: 100%;
	margin-bottom: 20px;
}
.formbox input[type="text"] {
	border:none;	
	padding: 0 10px;
	border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #35424a;
	font-size: 16px;
	background-color: rgba(250, 242, 242, 0.918);
}
.formbox input[type="password"]
{
	border:none;
	padding: 0 10px;
    border-bottom: 1px solid #fff;
	background: transparent;
	outline: none;
	height: 40px;
	color: #35424a;
	font-size: 16px;
	background-color: rgba(250, 242, 242, 0.918);
} 

.formbox input[type="submit"]
{
	
	border: none;
	outline: none;
	height: 40px;
	background:white;
	color: #fb2525;
	font-size: 18px;
	border-radius: 20px;
}
.formbox input[type="submit"]:hover
{
	/* width: 100%; */
	/* height: 100%; */
	cursor: pointer;
	background: #000000;
	color: #008000;
}
.formbox a{
	text-decoration: none;
	font-size: 12px;
	line-height: 20px;
	color: #ffffff;
	
}
.formbox a:hover
{
	border-bottom: 1px solid white;
	/* transition-property: width, height; */
	transition-duration: .3s ease-in-out;
}
.rowinput{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

h1{
	margin: 0;
	padding: 0 0 20px;
    text-align: center;
	font-size: 22px;
	}

.formbox p{
	font-weight: normal
}

header{
	background:#000000;
	color: #ffffff;
	padding-top: 0 10px;
	min-height:70px;
	border-bottom: #008000 3px solid;
}
header a:hover{
	color:#008000;
	font-weight: bold;
}
nav {
	margin-bottom: 3px;
}
nav a{
	color: #ffffff;
	text-decoration:none;
	text-transform: uppercase;
	font-size:14px;
	margin-left:20px;
}

.active{
	color:#008000;
	font-weight:bold;
}
.highlight{
	color: #008000;
	font-size: 48px
}
.highlight1{
	color: #008000;
	font-size: 18px;
}
.highlight2{
	color: #008000;
	font-size: 14px;
}
#showcase h1{
	margin-top:30px;
	font-size: 55px;
	margin-bottom:10px;
}
.quote input, .quote textarea{
	width:100%;
	margin-bottom:5px;
}
#showcase p{
	font-size: 20px;
	color:#dddddd;
	margin-top: 30px;
	margin-bottom: 30px;
}
aside{
	
	margin-top: 20px;
	width:30%;
}
aside h3{
	background: #676c6f;
	font-size: 1.5em;
	text-align: center;
	color: whitesmoke
}
aside div{
	
	background: #35424a;
}
aside p {
	margin: 10px;
	color: #fff
}
article{
	width:65%;
	/* border:3px solid yellow; */
	margin: 20px;
	
}
ul#services li{
	list-style: none;
	padding:20px;
	border:#cccccc solid 1px
	margin-bottom: 5px;
	backgdround:#e6e6e6;
}
footer{
	padding: 10px;
	margin-top:10px;
	color:#ffffff;
	background:#000000;
	text-align: center;
	margin-top: auto;

}

@media(max-width:768px){
	header #branding, header nav, header nav li, articlearticle, asideaside{
	float:none;
	text-align: center;
	width:100%;
	}
	header{
	padding-bottom: 20px;
	}
	#showcase h1{
	margin-top:40px;
	}
}

.card-grp{
	
	display: flex;
	justify-content: space-evenly;
}

.card{
	display: flex;
	flex-direction: column;
	width: 40%;
	background-color: #35424a;
	color: white;
	cursor: pointer;
	margin-bottom: 20px;
	border-radius: 5px;
}
.card img{
	border-top-left-radius: inherit;
	border-top-right-radius: inherit;
}
.card h3{
	
	text-align: center;
	background-color: #676c6f;
}
.card p{
	margin: 10px;
}
.card p span{
	color: #008000;
	font-weight: 700;
	font-size: 1.4em;
}
 .card-mentor {   
	display: flex;
	flex-direction: column;
	width: 70%;
	height: 45%;
	background-color: #35424a;
	color: white;
	cursor: pointer;
	margin-bottom: 20px;
	border-radius: 5px;
 }
 
.container-home {
	
	background-image: linear-gradient(rgba(4, 9, 30, 0.1), #001), url("images/mentorship_banner_01.jpg");
	background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    text-align: center;
   
  
}


.description {
	padding-top: 100px;
	padding-bottom: 100px;
	margin: 0 auto;
	text-align: center;
	width: 50%;	
	background-image: linear-gradient(rgba(146, 157, 201, 0.1), #001);
	height: 100%;
}

.description a {
   border: 1px solid #008000;
   border-radius: 290486px;
   color: white;
   font-size: 0.8em;
   letter-spacing: 0.2em;
   padding: 1em 2em;
   text-transform: uppercase;
   text-decoration: none;
   transition: none 200ms ease-out;
   transition-property: color, background;
}

.details {
	float: left;
	width: 50%;
}

.welcome{
	color: #cccccc;
}
.more-descr {
	display: block;
	color: #008000;
	margin-bottom: 30px;
}
.more-desc p{
	margin: auto;
}
@media screen and (max-width: 800px) {

.description,
.details {
	width: 100%;
	}
  
  }

  @media only screen and (min-width:375px){
	  .picture{
		  width: 100%;
		  float: left;
		  
	  }
	  
  }

  